@import "../../styles/settings.scss";

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    list-style: none;
    font-weight: bold;
}

.button {
    border: none;
    background-color: white;
    float: right;

    :hover {
        color: $color-success;
    }
}

.isActive {
    color: $color-success;
    transform: scale(110%);
}

.remove {
    border: none;
    background-color: white;
    float: right;

    :hover {
        color: $color-warning;
    }
}